  <div class="body">

  <div class="container-fluid">
            <div class="profile-bg">
            <div class="mt-3" style="margin-left:82%;">
                <a class="fa fa-user-circle mr-5 mt-3"  routerLink="/profile" routerLinkActive="active" aria-hidden="true" style="font-size:40px;"></a>
             
              <button  type="button" routerLink="/login-info" routerLinkActive="active" class="btn btn-primary mb-3 mt-1"> logout</button>
              </div>
            </div>


    <div class="card-group">
      <div class="row">
        <div class="card col-md-3">

          <div class="card-body text-center">
              <h5 class="text-white">Write a Post</h5>
              <div>
                  <form>
                      <div class="form-group">
                      
                        <textarea placeholder="What your feeling today..." rows="5" cols="15" class="form-control" id="exampleInputEmail1">
                       </textarea>
                        </div>
                      <div class="form-group">
                        
                        <input type="file"  id="exampleInputPassword1">
                      </div>
                      
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
              </div>

          </div>
        </div>
        <div class="card  col-md-5">
            <div class="row">
          <div class="card-body text-center">

              <div class="card" style="border: solid 1px white;border-radius: 5px;">
                  <div class="card-body" >

                    <p class="card-text  text-white">Some example text. Some example text.</p>
                    <div class="card-footer"><a href="#" class=" btn btn-primary">like</a>&nbsp;&nbsp;
                      <a href="#" class=" btn btn-primary">comment</a></div>

                  </div>
                </div>
              </div></div>
              <div class="row">
                <div class="card-body text-center">
      
                    <div class="  card" style="border: solid 1px white;border-radius: 5px;" >
                        <div class="card-body" >
      
                          <p class="card-text text-white">Some example text. Some example text.</p>
                          <div class="card-footer"><a href="#" class=" btn btn-primary">like</a>&nbsp;&nbsp;
                            <a href="#" class=" btn btn-primary">comment</a></div>
      
                        </div>
                      </div>
                    </div></div>
              <div class="row">
                  <div class="card-body text-center">

                      <div class="  card" style="border: solid 1px white;border-radius: 5px;" >
                          <div class="card-body" >

                            <p class="card-text text-white">Some example text. Some example text.</p>
                            <div class="card-footer"><a href="#" class=" btn btn-primary">like</a>&nbsp;&nbsp;
                              <a href="#" class=" btn btn-primary">comment</a></div>

                          </div>
                        </div>
                      </div></div>
            

        </div>
        <div class="card  col-md-4">
          <div class="card-body text-center">
              <div class="row">
                  <div class="col-md-4">
                    <i class="fa fa-user-circle" aria-hidden="true" style="font-size:50px;color:white"></i>
                </div>
                <div class="col-md-8">
                  <span class="bord text-white">Lorem, ipsum dolor sit sit .</span>
                </div>
                
                <div class="col-md-12">
                  <button type="button" class="btn btn-success btn-block mt-3 mb-2" >View</button>
                  </div>
               
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-4">
                    <i class="fa fa-user-circle" aria-hidden="true" style="font-size:50px;color:white"></i>
                </div>
                <div class="col-md-8">
                  <span class="bord text-white">Lorem, ipsum dolor sit sit .</span>
                </div>
                
                <div class="col-md-12">
                  <button type="button" class="btn btn-success btn-block mt-3 mb-2" >View</button>
                  </div>               
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-4">
                    <i class="fa fa-user-circle" aria-hidden="true" style="font-size:50px;color:white"></i>
                </div>
                <div class="col-md-8">
                  <span class="bord text-white">Lorem, ipsum dolor sit sit .</span>
                </div>
                
                <div class="col-md-12">
                  <button type="button" class="btn btn-success btn-block mt-3 mb-2" >View</button>
                  </div>               
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-4">
                  <i class="fa fa-user-circle" aria-hidden="true" style="font-size:50px;color:white"></i>
                </div>
                <div class="col-md-8">
                  <span class="bord text-white">Lorem, ipsum dolor sit sit .</span>
                </div>
                
                <div class="col-md-12">
                  <button type="button" class="btn btn-success btn-block mt-3 mb-2" >View</button>
                  </div>               
                </div>

                <hr>
          </div>
        </div>
        </div>
      </div>

    </div>

</div>
