   <app-nav></app-nav>
   <!------------------ Hover Effect Style : Demo - 1 --------------->
    <div class="container">
        <h3 class="text-center"></h3>
        <div class="row mt-40">
            <div class="col-md-4 col-sm-6">
                <div class="box1">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-1.jpg" alt="">
                    <h3 class="title">Williamson</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box1">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-2.jpg" alt="" class="img-thumbn">
                    <h3 class="title">Kristiana</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box1">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-3.jpg" alt="">
                    <h3 class="title">Kristiana</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!------------------ Hover Effect Style : Demo - 2 --------------->
    <div class="container mt-40">
        <h3 class="text-center"></h3>
        <div class="row mt-30">
            <div class="col-md-4 col-sm-6">
                <div class="box2">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo193/images/img-1.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Web Developer</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box2">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo193/images/img-2.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title">Kristiana</h3>
                            <span class="post">Web Designer</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box2">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo193/images/img-3.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title">Kristiana</h3>
                            <span class="post">Web Designer</span>
                            <ul class="icon">
                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!------------------ Hover Effect Style : Demo - 3 --------------->
    <div class="container mt-40">
        <h3 class="text-center"></h3>
        <div class="row mt-30">
            <div class="col-md-4 col-sm-6">
                <div class="box3">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo169/images/img-1.jpg">
                    <div class="box-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">Web Developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                        </p>
                        <ul class="icon">
                            <li><a href="#" class="fa fa-search"></a></li>
                            <li><a href="#" class="fa fa-link"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box3">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo169/images/img-2.jpg">
                    <div class="box-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Web Designer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                        </p>
                        <ul class="icon">
                            <li><a href="#" class="fa fa-search"></a></li>
                            <li><a href="#" class="fa fa-link"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box3">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo169/images/img-3.jpg">
                    <div class="box-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Web Designer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                        </p>
                        <ul class="icon">
                            <li><a href="#" class="fa fa-search"></a></li>
                            <li><a href="#" class="fa fa-link"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>