body {
  background: #eee;
}
.page-wrap {
  min-height: 100vh;
}
.container {
  max-width: 900px;
}
.bg
{
    background-image:url("https://image.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg");
    background-size:cover;
    padding:20px;
    color:#fff;
}